body {
  background-image: url("assets/3_bg.png");
}

#wire {
  position: absolute;
  top: 56%;
  left: 07%;
}

#wire img {
  width: 83%;
}

#white {
  display: none;
}

#white * {
  width: 100vw;
  height: 100vh;
  background-color: white;
}
